DATABASE_URL="file:./dev.db" # Caso use o sqlite tem que rodar todo o fluxo de gerar o ( npx prisma generate, npx prisma migrate dev e dps npx tsx prisma/seed.ts)
JWT_SECRET="sua_chave_secreta_super_segura"